<div class="container">
  <div class="search">
    <div class="center-search">
      <input
        type="text"
        id="termoPesquisa"
        class="term-search"
        aria-describedby="button-addon1"
        [(ngModel)]="termoPesquisa"
      />
      <button
        (click)="pesquisar(termoPesquisa)"
        class="result"
        id="button-addon1"
      >
        <span class="find">
          <i class="fas fa-search"></i>
        </span>
      </button>
    </div>
  </div>
  <div class="gallery">
    <div *ngIf="galerias$">
      <div *ngFor="let item of galerias$ | async" class="gallery-item">
        <div class="custom-card">
          <button class="close-icon" (click)="excluirItem(item.id)">
            <img src="../../assets/images/close.svg" alt="Fechar" />
          </button>
          <div class="image-container">
            <img [src]="item.img" class="card-img-top" alt="{{ item.title }}" />
            <p class="card-text">
              <span class="badge">{{ item.type | badge }}</span>
            </p>
          </div>
          <div class="card-body">
            <h1 class="card-title">{{ item.title }}</h1>
            <p class="card-text">{{ item.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
